<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	{{>header}}
	<img src="/image/download.jpg">
	{{>footer}}
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>